<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS Course</title>
    <link rel="stylesheet" href="../CSS/style.css" type="text/css">
</head>
<body>

    <%- include("./partials/nav") %>
    
    <h1>Node JS Tutorial by Brian Simiyu</h1>

    <p>This is the best course you will ever find on Node JS</p>

    <button>

        <a href="https://techfybiz.co.ke" target="_blank">Click here to visit our website</a>

    </button>

</body>
</html>