<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Success</title>
    <link rel="stylesheet" href="../CSS/style.css" type="text/css">
</head>
<body>

    <%- include("../partials/nav") %>

    <h1>Contact Success</h1>

    <p>Thanks for getting in touch with us.</p>

    <p><%= data.who %> from <%= data.department %> department will get in touch via <%= data.email %>.</p>
    
</body>
</html>